body {
  color: black;
  background-color: rgb(255, 250, 217);
  border-radius: 10px;
  padding: 20px;
}

body > h1, body > h2, body > h3, body > h4, body > h5 {
  background-color: azure;
  border-radius: 10px;
  padding: 20px;
}

h1.title {
  background-color: tomato;
  font-size: 350%;
  text-align: center;
}

div.toc {
  background-color: ivory;
  border-radius: 10px;
  padding: 20px;
}

div.toc *:first-child {
  margin-top: 0;
}

div.toc *:last-child {
  margin-bottom: 0;
}

div.lesson {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}

div.lesson > h2 {
  margin-top: 0;
}

div.topic {
  padding: 0 0 10px 0;
  border-radius: 10px;
}

div.topic > * {
  color: black;
  background-color: lightblue;
  padding: 10px;
  margin: 0;
}

div.topic ul, div.topic ol {
  padding-left: 30px;
}

div.topic *:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.topic *:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.topic h3 {
  background-color: palegreen;
  border-radius: 0;
}

div.topic h4 {
  background-color: peachpuff;
  border-radius: 0;
}

div.topic h5 {
  background-color: lemonchiffon;
  border-radius: 0;
}

h1 a.right, h2 a.right, h3 a.right, h4 a.right, h5 a.right {
  float: right;
  font-size: 17px;
}

h2 a.right {
  color: white;
}
